<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Motus</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>motus</string>
          <string>com.anonymous.motus</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.538681374453-4o9bor5ckh2g766c2gi99meckvm0liv0</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+motus</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>metamask</string>
      <string>trust</string>
      <string>safe</string>
      <string>rainbow</string>
      <string>uniswap</string>
      <string>zerion</string>
      <string>imtokenv2</string>
      <string>spot</string>
      <string>omni</string>
      <string>dfw</string>
      <string>tpoutside</string>
      <string>robinhood-wallet</string>
      <string>frontier</string>
      <string>blockchain-wallet</string>
      <string>safepalwallet</string>
      <string>bitkeep</string>
      <string>cbwallet</string>
      <string>oneinch</string>
      <string>exodus</string>
      <string>bnc</string>
      <string>ledgerlive</string>
      <string>mewwallet</string>
      <string>awallet</string>
      <string>keyring</string>
      <string>lobstr</string>
      <string>ontoprovider</string>
      <string>mathwallet</string>
      <string>unstoppabledomains</string>
      <string>obvious</string>
      <string>fireblocks-wc</string>
      <string>ambire</string>
      <string>internetmoney</string>
      <string>walletnow</string>
      <string>bitcoincom</string>
      <string>coin98</string>
      <string>arculuswc</string>
      <string>phantom</string>
      <string>cryptobrowser</string>
      <string>chainapp</string>
      <string>huddln</string>
      <string>verso</string>
      <string>haha</string>
      <string>modularwallet</string>
      <string>coinomi</string>
      <string>fb</string>
      <string>instagram</string>
      <string>twitter</string>
      <string>tiktoksharesdk</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your camera</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your Face ID biometric data.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSMotionUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your device motion</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app accesses your photos to let you upload avatars, customize equiments, exercise images and share them with your friends.</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>